{
  "openapi": "3.0.3",
  "info": {
    "title": "API",
    "description": "Trade derivatives on the **[Lightning Network](https://lightning.network/)**.\nYou can find our website **[here](https://lnmarkets.com/)**.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Mainnet API",
      "url": "https://api.lnmarkets.com/v1"
    },
    {
      "description": "Testnet API",
      "url": "https://api.testnet.lnmarkets.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Login",
      "description": "Here you can find the different way to auth yourself on LN Markets, mostly use for browser."
    },
    {
      "name": "Futures",
      "description": "Interactions with the futures market and retrive your positions"
    },
    {
      "name": "User",
      "description": "You can retrieve your user data and modify it"
    },
    {
      "name": "State",
      "description": "LN Markets state with data about our node and api availability"
    },
    {
      "name": "LNURL",
      "description": "Interaction with the lightning network using the [LNURL procotocol](https://github.com/btcontract/lnurl-rfc/)\nLNURL enable simple auth, withdraw and pay UX / UI\n"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "description": "Api key auth is using `LNM-ACCESS-KEY` `LNM-ACCESS-PASSPHRASE` `LNM-ACCESS-TIMESTAMP` `LNM-ACCESS-SIGN` headers",
        "type": "apiKey",
        "in": "header",
        "name": "LNM-ACCESS-KEY"
      }
    }
  },
  "paths": {
    "/login/token": {
      "post": {
        "tags": [
          "Login"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Login with a JWT",
        "description": "Use a JWT to log on LN Markets.\nThe token need to have the 'user' scope and the token will be revoked ater the sucessfull login\n",
        "operationId": "V1_Login_loginCredentials",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfuly logged into the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "username",
                    "balance",
                    "account_type"
                  ],
                  "properties": {
                    "username": {
                      "description": "User choosen username (May differe from login)",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "User account type, here credentials",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "login": "lnmarkets",
                  "account_type": "credentials",
                  "balance": 1337
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      }
    },
    "/lnurl/auth": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Auth Verify",
        "description": "Verify the public key with the signature and the k1 to create a account or connect into a existing account.\nIf JWT is set to true, a JWT will be returned with by default all scopes and an expiry of 1h, they can be changed by setting the query paramater expiry or scopes like POST /user/jwt.\nElse the connected state will be push over websocketsto the client.\n",
        "operationId": "V1_GET_LNURL_Auth",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "LNURL type.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "login"
              ],
              "example": "login"
            }
          },
          {
            "name": "k1",
            "in": "query",
            "description": "Hex encoded 32 bytes of challenge which is going to be signed by user private key.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{64}$",
              "example": "kyNVmR6HDtAW2aplYk6XmmpDrIhvzzq6"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "description": "Signature generated by the lightning wallet.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "qep5sAqwleQS27UdKLGNsCBTWB4soS45us9vJAbk1hMEdCAXoeB6IESi3Nz7SXJM"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Public key of the lightning wallet.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Yc4h1Z5BZVmgmVQfIbdPWRVj9kHAo3uf"
            }
          },
          {
            "name": "hmac",
            "in": "query",
            "description": "HMAC signature used to secure LNURL.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "kuSHSXXDiP4qofiL2LGelesLLlRXUCJd"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Timestamp.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$",
              "example": "1599492534790"
            }
          },
          {
            "name": "jwt",
            "in": "query",
            "description": "Request will responsd with a JWT token instead of pushing auth state to websocket",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "expiry",
            "in": "query",
            "description": "JWT expiration, default to 3600",
            "schema": {
              "type": "integer",
              "example": 1800,
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "scopes",
            "in": "query",
            "description": "Scope of the jwt",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "deposit,withdraw"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucessfuly logged in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Does the request suceed ?",
                      "type": "string"
                    },
                    "event": {
                      "description": "State of the user",
                      "type": "string"
                    },
                    "token": {
                      "description": "JWT if asked",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "OK",
                  "event": "LOGGEDIN"
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          }
        }
      },
      "post": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Auth Request",
        "description": "LNURL string used to create an account or connect to a existing account.\nThe user wallet will sign a message using the provided k1 inside the LNURL.\nYou need to have a session cookie on the browser you are using to log in.\n",
        "operationId": "V1_POST_LNURL_Auth",
        "responses": {
          "200": {
            "description": "Bech32 encoded string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lnurl": {
                      "description": "LNURL used by the wallet",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "lnurl": "lnurl1dp68gup69uhkcmmrv9kxsmmnwsarxvpsxqhkcmn4wfkz7cflw3skw0tvdankjm3xdvcn6venvgcrjenpx3nrwdtpxsur2vfsvdjk2dfkxe3kgceexymkgcmrxpjkgc3jvgmrqdnzvvurjwtr89jk2dp4vccrxvmrvvmxzdehxuejv6rdv93n6wpkv56rxcf4xqcxgwfsvsuxget9vymnqcfnv43rgwfjv5ex2cn9vyckgwtyvejrgc3excekyetpx43rvd3nxeskxvm9xqcxvwtpv5mq9uwr0k"
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/withdraw": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw (3) Final",
        "description": "Use LNURL to withdraw from the user balance.",
        "operationId": "V1_LNURL_Withdraw",
        "parameters": [
          {
            "name": "k1",
            "in": "query",
            "required": true,
            "description": "Random hex string to identify the user Lightning Wallet.",
            "example": "kyNVmR6HDtAW2aplYk6XmmpDrIhvzzq6",
            "schema": {
              "type": "string",
              "minLength": 64,
              "maxLength": 64
            }
          },
          {
            "name": "pr",
            "in": "query",
            "required": true,
            "description": "Bolt 11 invoice.",
            "example": "<invoice>",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucessfuly withdrawn funds from account"
          }
        }
      },
      "post": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw (1) Create",
        "description": "Create a LNURL Withdraw",
        "operationId": "V1_POST_LNURL_withdraw",
        "responses": {
          "200": {
            "description": "Return the LNURL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lnurl": {
                      "description": "LNURL for the users wallet",
                      "type": "string"
                    }
                  },
                  "example": {
                    "lnurl": "LNURL1DP68GURN8GHJ7UM9WFMXJCM99E3K7MF0V9CXJ0M385EKVCENXC6R2C35XVUKXEFCV5MKVV34X5EKZD3EV56NYD3HXQURZEPEXEJXXEPNXSCRVWFNV9NXZCN9XQ6XYEFHVGCXXCMYXYMNSERXFQ5FNS"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lnurl/withdraw/request": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw (2) Request",
        "description": "Ask the Lightning wallet to create an invoice with amount and description.",
        "operationId": "V1_LNURL_WithdrawRequest",
        "parameters": [
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "HMAC payload signature.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": true,
            "description": "Nonce.",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 16
            }
          },
          {
            "name": "expiry",
            "in": "query",
            "description": "Timestamp when the LNURL is expired.",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 1599841538304
            }
          },
          {
            "name": "uid",
            "in": "query",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LNURL withdraw invoice parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "callback": {
                      "description": "Callback URL used by the wallet",
                      "type": "string"
                    },
                    "defaultDescription": {
                      "description": "Invoice default description",
                      "type": "string"
                    },
                    "tag": {
                      "description": "Kind of LNURL",
                      "type": "string"
                    },
                    "balanceCheck": {
                      "type": "string"
                    },
                    "balanceNotify": {
                      "type": "string"
                    },
                    "maxWithdrawable": {
                      "description": "Max withdrawable amount",
                      "type": "integer",
                      "format": "int32"
                    },
                    "minWithdrawable": {
                      "description": "Min withdrawable amount",
                      "type": "integer",
                      "format": "int32"
                    },
                    "k1": {
                      "description": "Random hex string to identify the user Lightning Wallet.",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "k1": "31c92c1bd79d2ae5f96a153ceda105cb67888c61bfb76baa1d2505a6bf8a06ca",
                  "tag": "withdrawRequest",
                  "maxWithdrawable": 1000,
                  "minWithdrawable": 1000,
                  "defaultDescription": "LN Markets withdraw",
                  "callback": "https://api.lnmarkets.com/lnurl/w"
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/withdraw/address": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Withdraw to Lightning Address",
        "description": "Use Lightning Address to withdraw your sat !",
        "operationId": "V1_LNURL_Withdraw_Address",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to withdraw in sat",
            "example": 1000,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "Lightning Address username@service.org",
            "example": "satoshi@lightning.ovh",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucessfuly withdrawn funds from account."
          }
        }
      }
    },
    "/lnurl/pay": {
      "post": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Pay (1) Create",
        "description": "Create a LNURL Pay",
        "operationId": "V1_POST_LNURL_pay",
        "responses": {
          "200": {
            "description": "Return the LNURL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lnurl": {
                      "description": "LNURL for the users wallet",
                      "type": "string"
                    }
                  },
                  "example": {
                    "lnurl": "LNURL1DP68GURN8GHJ7UM9WFMXJCM99E3K7MF0V9CXJ0M385EKVCENXC6R2C35XVUKXEFCV5MKVV34X5EKZD3EV56NYD3HXQURZEPEXEJXXEPNXSCRVWFNV9NXZCN9XQ6XYEFHVGCXXCMYXYMNSERXFQ5FNS"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Pay (3) Finalize",
        "description": "LNURL Pay",
        "operationId": "V1_LNURL_Pay",
        "parameters": [
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "HMAC payload signature.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": true,
            "description": "Nonce",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 16
            }
          },
          {
            "name": "uid",
            "in": "query",
            "description": "User id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Username",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiry",
            "in": "query",
            "description": "When the lnurl pay is expired",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "Amount to deposit in msat",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1000000,
              "maximum": 1000000000
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "An optional parameter used to prevent server response caching",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromnodes",
            "in": "query",
            "description": "An optional parameter with value set to comma separated nodeIds if payer wishes a service to provide payment routes starting from specified LN nodeIds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment",
            "in": "query",
            "description": "An optional parameter to pass the LN WALLET user's comment to LN SERVICE",
            "allowEmptyValue": true,
            "allowReserved": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "minLength": 0,
              "maxLength": 1500
            }
          },
          {
            "name": "proofofpayer",
            "in": "query",
            "description": "An optional ephemeral secp256k1 public key generated by payer, a corresponding private key should be retained by payer, a payee may later ask payer to provide a public key itself or sign a random message using corresponding private key and thus provide a proof of payer.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LNURL pay response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pr": {
                      "description": "bech32-serialized lightning invoice",
                      "type": "string"
                    },
                    "disposable": {
                      "type": "boolean"
                    },
                    "routes": {
                      "type": "array"
                    },
                    "successAction": {
                      "type": "object",
                      "properties": {
                        "tag": {
                          "description": "message",
                          "type": "string"
                        },
                        "message": {
                          "description": "message",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "disposable": true
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/pay/request": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Pay (1) Request",
        "description": "Response from the LNURL",
        "operationId": "V1_LNURL_PayRequest",
        "parameters": [
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "description": "HMAC payload signature.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "required": true,
            "description": "Nonce",
            "schema": {
              "type": "string",
              "minLength": 16,
              "maxLength": 16
            }
          },
          {
            "name": "uid",
            "in": "query",
            "description": "User id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LNURL pay request response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "callback": {
                      "description": "Callback URL used by the wallet",
                      "type": "string"
                    },
                    "tag": {
                      "description": "Type of LNURL, payRequest here.",
                      "type": "string"
                    },
                    "maxSendable": {
                      "description": "Max sendable amount in msat",
                      "type": "integer",
                      "format": "int32"
                    },
                    "minSendable": {
                      "description": "Min sendable amount in msat",
                      "type": "integer",
                      "format": "int32"
                    },
                    "metadata": {
                      "description": "Metadata json as string",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "tag": "payRequest",
                  "minSendable": 1000,
                  "maxSendable": 1000000,
                  "callback": "https://api.lnmarkets.com/v1/lnurl/pay",
                  "metadata": "{}"
                }
              }
            }
          }
        }
      }
    },
    "/lnurl/pay/address": {
      "get": {
        "tags": [
          "LNURL"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Lightning Address",
        "description": "Lightning Address",
        "operationId": "V1_Lightning_Address",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Username",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LNURL pay request response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "callback": {
                      "description": "Callback URL used by the wallet",
                      "type": "string"
                    },
                    "tag": {
                      "description": "Type of LNURL, payRequest here.",
                      "type": "string"
                    },
                    "maxSendable": {
                      "description": "Max sendable amount in msat",
                      "type": "integer",
                      "format": "int32"
                    },
                    "minSendable": {
                      "description": "Min sendable amount in msat",
                      "type": "integer",
                      "format": "int32"
                    },
                    "metadata": {
                      "description": "Metadata json as string",
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "tag": "payRequest",
                  "minSendable": 1000,
                  "maxSendable": 1000000,
                  "callback": "https://api.lnmarkets.com/v1/lnurl/pay",
                  "metadata": "{}"
                }
              }
            }
          }
        }
      }
    },
    "/futures": {
      "post": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_create"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Create",
        "description": "Send the order form parameters to add a new position in database.\n**If `type=\"l\"`, the property `price` must be included in the request to know when the position should be filled.**\n**You can choose to use the margin or the quantity as a parameter, the other will be calculated with the one you choosed**\n",
        "operationId": "V1_Futures_createPosition",
        "requestBody": {
          "description": "Payload with all the information needed to setup a new position.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "side",
                  "type",
                  "leverage"
                ],
                "properties": {
                  "type": {
                    "description": "Type of the order (Market or Limit)",
                    "type": "string",
                    "enum": [
                      "l",
                      "m"
                    ]
                  },
                  "side": {
                    "description": "Side of the order (Buy or Sell)",
                    "type": "string",
                    "enum": [
                      "b",
                      "s"
                    ]
                  },
                  "margin": {
                    "description": "Margin or quantity should be filled",
                    "type": "integer",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 1000000
                  },
                  "leverage": {
                    "description": "Leverage of the order",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.01,
                    "minimum": 1,
                    "maximum": 100
                  },
                  "quantity": {
                    "description": "Quantity or margin should be filled",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1,
                    "maximum": 10000000
                  },
                  "takeprofit": {
                    "description": "Takeprofit level",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1,
                    "maximum": 10000000
                  },
                  "stoploss": {
                    "description": "Stoploss level",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1,
                    "maximum": 10000000
                  },
                  "price": {
                    "description": "Required when using a limit order",
                    "type": "number",
                    "format": "double",
                    "multipleOf": 0.5,
                    "minimum": 1,
                    "maximum": 10000000
                  }
                },
                "example": {
                  "type": "l",
                  "side": "b",
                  "price": 10000,
                  "stoploss": 9000,
                  "takeprofit": 11000,
                  "quantity": 100,
                  "leverage": 50
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position sucessfully created.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "UUID of the position",
                      "type": "string"
                    },
                    "id": {
                      "description": "Position ID to be deprecated",
                      "type": "string"
                    },
                    "type": {
                      "description": "Position type [l,m]",
                      "type": "string"
                    },
                    "side": {
                      "description": "Side of the position [s,b]",
                      "type": "string"
                    },
                    "price": {
                      "description": "Entry price of the position",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantity of the position",
                      "type": "string"
                    },
                    "margin": {
                      "description": "Margin used for the position creation",
                      "type": "string"
                    },
                    "leverage": {
                      "description": "Leverage of the position",
                      "type": "string"
                    },
                    "liquidation": {
                      "description": "Liquidation level when the position will be closed",
                      "type": "string"
                    },
                    "market_filled_ts": {
                      "description": "When the order was filled",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "market_wi": {
                      "description": "Market working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "string"
                    },
                    "margin_wi": {
                      "description": "Margin working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "stoploss": {
                      "description": "stoploss level",
                      "type": "string",
                      "nullable": true
                    },
                    "stoploss_wi": {
                      "description": "Stoploss working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit": {
                      "description": "Takeprofit level",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit_wi": {
                      "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "creation_ts": {
                      "description": "When the position was created",
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "example": {
                    "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                    "id": 666,
                    "type": "m",
                    "takeprofit_wi": "running",
                    "takeprofit": 13337,
                    "stoploss_wi": "running",
                    "stoploss": 1337,
                    "side": "s",
                    "quantity": 42,
                    "price": 8888,
                    "pl": -13640,
                    "market_wi": "filled",
                    "market_filled_ts": "020-09-15T10:50:40.332Z",
                    "margin_wi": "running",
                    "margin": 424242,
                    "liquidation": 1000,
                    "leverage": 50,
                    "creation_ts": "020-09-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_modify"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Update",
        "description": "Allows user to modify `stoploss` or `takeprofit` parameters of an existing position.\n",
        "operationId": "V1_Futures_updatePosition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pid",
                  "type",
                  "value"
                ],
                "properties": {
                  "pid": {
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "takeprofit",
                      "stoploss"
                    ]
                  },
                  "value": {
                    "type": "number",
                    "multipleOf": 0.5,
                    "minimum": 0,
                    "maximum": 10000000
                  }
                },
                "example": {
                  "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f",
                  "type": "takeprofit",
                  "value": 13290.5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Says whether or not the position was updated.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "Position id",
                      "type": "string",
                      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                    }
                  },
                  "example": {
                    "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_close"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Close",
        "description": "Close the user position, the PL will be calculated against the current bid or offer\ndepending on the side of the position\n",
        "operationId": "V1_Futures_closePosition",
        "parameters": [
          {
            "name": "pid",
            "in": "query",
            "description": "ID of the position to close.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
              "example": "a2ca6172-1078-463d-ae3f-8733f36a9b0e"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position is closed\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closed": {
                      "description": "Is position closed",
                      "type": "boolean"
                    },
                    "closed_ts": {
                      "description": "Position closed ts",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "exit_price": {
                      "description": "At which price the position was closed",
                      "type": "string"
                    },
                    "pid": {
                      "description": "Position id",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "integer"
                    }
                  },
                  "example": {
                    "pid": "a2ca6172-1078-463d-ae3f-8733f36a9b0e",
                    "exit_price": 2000,
                    "closed_ts": "020-10-15T10:50:40.332Z",
                    "closed": true,
                    "pl": 1337
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_get_open",
              "positions_get_closed"
            ]
          }
        ],
        "deprecated": false,
        "summary": "History",
        "description": "Fetch users positions",
        "operationId": "V1_Futures_getPositionList",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Choose wich kind of positions you need to fetch",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "running",
                "closed"
              ],
              "example": "open",
              "default": "running"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Starting timestamp (in ms) (only used for closed positions)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162757621
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Ending timestamp (in ms) (only used for closed positions)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162857621
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rows (only used for closed positions)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "minimum": 1,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions history sucessfully fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pid": {
                        "description": "id of the position",
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "description": "Position type [l,m]",
                        "type": "string"
                      },
                      "side": {
                        "description": "Side of the position [s,b]",
                        "type": "string"
                      },
                      "pl": {
                        "description": "PL of the position",
                        "type": "number"
                      },
                      "price": {
                        "description": "Entry price of the position",
                        "type": "number"
                      },
                      "quantity": {
                        "description": "Quantity of the position",
                        "type": "number"
                      },
                      "leverage": {
                        "description": "Leverage of the position",
                        "type": "number"
                      },
                      "liquidation": {
                        "description": "Liquidation level when the position will be closed",
                        "type": "number"
                      },
                      "margin": {
                        "description": "Margin used for the position creation",
                        "type": "number"
                      },
                      "margin_wi": {
                        "description": "Margin working indicator [filled, running, closed, canceled]",
                        "type": "string"
                      },
                      "market_filled_ts": {
                        "description": "When the order was filled",
                        "type": "number",
                        "nullable": true
                      },
                      "market_wi": {
                        "description": "Market working indicator [filled, running, closed, canceled]",
                        "type": "string"
                      },
                      "canceled": {
                        "description": "Is the position canceled",
                        "type": "boolean"
                      },
                      "closed": {
                        "description": "Is the position closed",
                        "type": "boolean"
                      },
                      "closed_ts": {
                        "description": "When the position was closed",
                        "type": "number",
                        "nullable": true
                      },
                      "creation_ts": {
                        "description": "When the position was created",
                        "type": "number",
                        "format": "date-time"
                      },
                      "exit_price": {
                        "description": "At which price the position was closed",
                        "type": "number",
                        "nullable": true
                      },
                      "stoploss": {
                        "description": "stoploss level",
                        "type": "number",
                        "nullable": true
                      },
                      "stoploss_wi": {
                        "description": "Stoploss working indicator [filled, running, closed, canceled]",
                        "type": "string",
                        "nullable": true
                      },
                      "takeprofit": {
                        "description": "Takeprofit level",
                        "type": "string",
                        "nullable": true
                      },
                      "takeprofit_wi": {
                        "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                        "type": "string",
                        "nullable": true
                      },
                      "sum_carry_fees": {
                        "description": "Sum of the positions carry fees",
                        "type": "integer"
                      }
                    }
                  },
                  "example": {
                    "positions": [
                      {
                        "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                        "id": 666,
                        "type": "m",
                        "takeprofit_wi": "canceled",
                        "takeprofit": 13337,
                        "stoploss_wi": "canceled",
                        "stoploss": 1337,
                        "sign": -1,
                        "side": "s",
                        "quantity": 42,
                        "price": 8888,
                        "pl": -13640,
                        "market_wi": "filled",
                        "market_filled_ts": 1630568137340,
                        "margin_wi": "closed",
                        "margin": 424242,
                        "liquidation": 1000,
                        "leverage": 50,
                        "exit_price": 2000,
                        "creation_ts": 1630568137340,
                        "closed_ts": 1630568137340,
                        "closed": false,
                        "canceled": true,
                        "sum_carry_fees": 4242
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/history/index": {
      "get": {
        "tags": [
          "Futures"
        ],
        "security": [],
        "summary": "Futures index history",
        "description": "Retrieves index history at most 1000 entries between two given timestamps.",
        "operationId": "V1_Futures_History_Index",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162757621
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Ending timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162857621
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rows",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "minimum": 1,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Futures index history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "description": "Timestamp at which the data was recorded (in µs)",
                        "type": "integer",
                        "format": "int64"
                      },
                      "index": {
                        "description": "Index value at that time",
                        "type": "number"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "time": 1605633250615990,
                        "index": 15853
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/history/bid-offer": {
      "get": {
        "tags": [
          "Futures"
        ],
        "security": [],
        "summary": "Futures bid and offer history",
        "description": "Retrieves bid and offer at most 1000 entries between two given timestamps.",
        "operationId": "V1_Futures_History_Bid_Offer",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162757621
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Ending timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162857621
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rows",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "minimum": 1,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Futures bid offer history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "description": "Timestamp at which the data was recorded (in µs)",
                        "type": "integer",
                        "format": "int64"
                      },
                      "bid": {
                        "description": "Bid value at that time",
                        "type": "number"
                      },
                      "offer": {
                        "description": "Offer value at that time",
                        "type": "number"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "time": 1605633250615990,
                        "bid": 15853,
                        "offer": 15885
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/history/fixing": {
      "get": {
        "tags": [
          "Futures"
        ],
        "security": [],
        "summary": "Futures fixing history",
        "description": "Retrieves at most 1000 entries between two given timestamps",
        "operationId": "V1_Futures_History_Fixing",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162757621
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Ending timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162857621
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rows",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "minimum": 1,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fixing history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ts": {
                        "description": "Timestamp in ms whent the fixing occured",
                        "type": "integer",
                        "format": "int64"
                      },
                      "id": {
                        "description": "Fixing uuid",
                        "type": "number"
                      },
                      "fixing_price": {
                        "description": "Fixing price",
                        "type": "number"
                      },
                      "fee_bp_value": {
                        "description": "BP value of fees",
                        "type": "number"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "ts": 1605633250615990,
                        "id": "46b6cd74-d91d-4f25-8a55-1cde32a9341c",
                        "fixing_price": 15885,
                        "fee_bp_value": 10
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/cancel": {
      "post": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_close"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Cancel",
        "description": "Cancel the position linked to the given `pid`.**Only works on positions that are not currently filled**.\n",
        "operationId": "V1_Futures_cancelPosition",
        "requestBody": {
          "description": "Payload containing the position id that will be cancelled.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "type": "object",
                "required": [
                  "pid"
                ],
                "properties": {
                  "pid": {
                    "description": "Position ID",
                    "type": "string",
                    "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                  }
                },
                "example": {
                  "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position is canceled\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "canceled": {
                      "description": "Canncel success",
                      "type": "boolean"
                    },
                    "closed_ts": {
                      "description": "When the position was canceled",
                      "type": "string",
                      "format": "date-time"
                    },
                    "pid": {
                      "description": "Position ID",
                      "type": "string",
                      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
                    }
                  },
                  "example": {
                    "pid": "b87eef8a-52ab-2fea-1adc-c41fba870b0f",
                    "canceled": true,
                    "closed_ts": "020-11-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/cash-in": {
      "post": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_modify"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Cash-in",
        "description": "Retrieves part of one running position's PL.\n",
        "operationId": "V1_Futures_cashin",
        "requestBody": {
          "description": "Payload with data relative to the process.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "amount",
                  "pid"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount of PL to cash-in (in sats)",
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1
                  },
                  "pid": {
                    "description": "Position ID from which to retrieve PL",
                    "type": "string",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                  }
                },
                "example": {
                  "amount": 1000,
                  "pid": "99c470e1-2e03-4486-a37f-1255e08178b1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cash-in successfully retrieved and new position informations are sent back.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "UUID of the position",
                      "type": "string"
                    },
                    "id": {
                      "description": "Position ID to be deprecated",
                      "type": "string"
                    },
                    "type": {
                      "description": "Position type [l,m]",
                      "type": "string"
                    },
                    "side": {
                      "description": "Side of the position [s,b]",
                      "type": "string"
                    },
                    "price": {
                      "description": "Entry price of the position",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantity of the position",
                      "type": "string"
                    },
                    "margin": {
                      "description": "Margin used for the position creation",
                      "type": "string"
                    },
                    "leverage": {
                      "description": "Leverage of the position",
                      "type": "string"
                    },
                    "liquidation": {
                      "description": "Liquidation level when the position will be closed",
                      "type": "string"
                    },
                    "market_filled_ts": {
                      "description": "When the order was filled",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "market_wi": {
                      "description": "Market working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "string"
                    },
                    "margin_wi": {
                      "description": "Margin working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "stoploss": {
                      "description": "stoploss level",
                      "type": "string",
                      "nullable": true
                    },
                    "stoploss_wi": {
                      "description": "Stoploss working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit": {
                      "description": "Takeprofit level",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit_wi": {
                      "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "creation_ts": {
                      "description": "When the position was created",
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "example": {
                    "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                    "id": 666,
                    "type": "m",
                    "takeprofit_wi": "running",
                    "takeprofit": 13337,
                    "stoploss_wi": "running",
                    "stoploss": 1337,
                    "side": "s",
                    "quantity": 42,
                    "price": 8888,
                    "pl": -13640,
                    "market_wi": "filled",
                    "market_filled_ts": "020-09-15T10:50:40.332Z",
                    "margin_wi": "running",
                    "margin": 424242,
                    "liquidation": 1000,
                    "leverage": 50,
                    "creation_ts": "020-09-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/add-margin": {
      "post": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_modify"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Add margin",
        "description": "Add margin to a running position.",
        "operationId": "V1_Futures_addmargin",
        "requestBody": {
          "description": "Payload with data relative to the process.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "amount",
                  "pid"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount of margin to add (in sats)",
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1
                  },
                  "pid": {
                    "description": "Position ID from which to retrieve PL",
                    "type": "string",
                    "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
                  }
                },
                "example": {
                  "amount": 1000,
                  "pid": "99c470e1-2e03-4486-a37f-1255e08178b1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Margin successfully added and new position informations are sent back.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pid": {
                      "description": "UUID of the position",
                      "type": "string"
                    },
                    "id": {
                      "description": "Position ID to be deprecated",
                      "type": "string"
                    },
                    "type": {
                      "description": "Position type [l,m]",
                      "type": "string"
                    },
                    "side": {
                      "description": "Side of the position [s,b]",
                      "type": "string"
                    },
                    "price": {
                      "description": "Entry price of the position",
                      "type": "string"
                    },
                    "quantity": {
                      "description": "Quantity of the position",
                      "type": "string"
                    },
                    "margin": {
                      "description": "Margin used for the position creation",
                      "type": "string"
                    },
                    "leverage": {
                      "description": "Leverage of the position",
                      "type": "string"
                    },
                    "liquidation": {
                      "description": "Liquidation level when the position will be closed",
                      "type": "string"
                    },
                    "market_filled_ts": {
                      "description": "When the order was filled",
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "market_wi": {
                      "description": "Market working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "pl": {
                      "description": "PL of the position",
                      "type": "string"
                    },
                    "margin_wi": {
                      "description": "Margin working indicator [filled, running, closed, canceled]",
                      "type": "string"
                    },
                    "stoploss": {
                      "description": "stoploss level",
                      "type": "string",
                      "nullable": true
                    },
                    "stoploss_wi": {
                      "description": "Stoploss working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit": {
                      "description": "Takeprofit level",
                      "type": "string",
                      "nullable": true
                    },
                    "takeprofit_wi": {
                      "description": "Takeprofit working indicator [filled, running, closed, canceled]",
                      "type": "string",
                      "nullable": true
                    },
                    "creation_ts": {
                      "description": "When the position was created",
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "example": {
                    "pid": "249dc818-f8a5-4713-a3a3-8fe85f2e8969",
                    "id": 666,
                    "type": "m",
                    "takeprofit_wi": "running",
                    "takeprofit": 13337,
                    "stoploss_wi": "running",
                    "stoploss": 1337,
                    "side": "s",
                    "quantity": 42,
                    "price": 8888,
                    "pl": -13640,
                    "market_wi": "filled",
                    "market_filled_ts": "020-09-15T10:50:40.332Z",
                    "margin_wi": "running",
                    "margin": 424242,
                    "liquidation": 1000,
                    "leverage": 50,
                    "creation_ts": "020-09-15T10:50:40.332Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/all/close": {
      "delete": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_close"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Close-all",
        "description": "Close every user position. The PL will be calculated against the current bid or offer\ndepending on the side of the position.\n",
        "operationId": "V1_Futures_closeAllPosition",
        "responses": {
          "200": {
            "description": "Every position has been successfully closed\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "closed": {
                        "description": "Is position closed",
                        "type": "boolean"
                      },
                      "closed_ts": {
                        "description": "Position closed ts",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "exit_price": {
                        "description": "At which price the position was closed",
                        "type": "string"
                      },
                      "pid": {
                        "description": "Position id",
                        "type": "string"
                      },
                      "pl": {
                        "description": "PL of the position",
                        "type": "integer"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "pid": "a2ca6172-1078-463d-ae3f-8733f36a9b0e",
                        "exit_price": 2000,
                        "closed_ts": "020-10-15T10:50:40.332Z",
                        "closed": true,
                        "pl": 1337
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/all/cancel": {
      "delete": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_close"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Cancel-all",
        "description": "Cancel all open positions",
        "operationId": "V1_Futures_cancelAllPosition",
        "responses": {
          "200": {
            "description": "Array with canceled positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "canceled": {
                        "description": "Is position canceled",
                        "type": "boolean"
                      },
                      "closed_ts": {
                        "description": "Position canceled ts",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "pid": {
                        "description": "Position id",
                        "type": "string"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "pid": "a2ca6172-1078-463d-ae3f-8733f36a9b0e",
                        "canceled_ts": "020-10-15T10:50:40.332Z",
                        "canceled": true,
                        "margin": 1337
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/futures/leaderboard": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Leaderboard",
        "description": "Queries the database to get the 10 users with the biggest posititve PL\n",
        "operationId": "V1_Leaderboard_getLeaderboard",
        "responses": {
          "200": {
            "description": "Leaderboard successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "username": {
                        "type": "string",
                        "description": "Username or 'Anonymous' if the Leaderboard view is disabled\n"
                      },
                      "pl": {
                        "type": "integer",
                        "description": "Sum of every profits and losses of the user"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "username": "Bob",
                    "pl": 4242424242
                  },
                  {
                    "username": "Jean-Kevin",
                    "pl": 3491941
                  },
                  {
                    "username": "Roger",
                    "pl": 24013441
                  },
                  {
                    "username": "Laura",
                    "pl": 23126094
                  },
                  {
                    "username": "Marcus",
                    "pl": 1414019
                  },
                  {
                    "username": "Charles",
                    "pl": 242918
                  },
                  {
                    "username": "Antoine",
                    "pl": 99999
                  },
                  {
                    "username": "XXxRoBeRtLeBgDu24xXX",
                    "pl": 61491
                  },
                  {
                    "username": "CRYPTOKING",
                    "pl": 10000
                  },
                  {
                    "username": "HEY",
                    "pl": 3
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/futures/carry-fees": {
      "get": {
        "tags": [
          "Futures"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "positions_get_closed"
            ]
          }
        ],
        "summary": "Futures carry fees history",
        "description": "Retrieves carry fees for user",
        "operationId": "V1_Futures_Carry_Fees",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Starting timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162757621
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Ending timestamp (in ms).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1605162857621
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of rows",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "minimum": 1,
              "maximum": 100,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carry fees event of the position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ts": {
                        "description": "Timestamp in ms whent the fixing occured",
                        "type": "integer",
                        "format": "int64"
                      },
                      "pid": {
                        "description": "Position id",
                        "type": "string",
                        "format": "uuid"
                      },
                      "fixing": {
                        "description": "Fixing uuid",
                        "type": "string",
                        "format": "uuid"
                      },
                      "fees": {
                        "description": "Fees that were taken from the position",
                        "type": "number"
                      }
                    }
                  },
                  "example": {
                    "data": [
                      {
                        "fixing": "fc342986-f59d-43f7-937b-0dcaa74b5f20",
                        "index": 1337
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/state": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "API",
        "description": "Shows informations about api.\n",
        "operationId": "V1_State_apiState",
        "responses": {
          "200": {
            "description": "The API is online.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "description": "Timestamp reported by the API",
                      "type": "integer",
                      "format": "int64"
                    },
                    "version": {
                      "type": "object",
                      "properties": {
                        "api": {
                          "description": "API version hash",
                          "type": "string"
                        },
                        "spec": {
                          "description": "Open API version hash",
                          "type": "string"
                        }
                      }
                    },
                    "withdraw": {
                      "description": "Are withdraw enabled ?",
                      "type": "boolean"
                    },
                    "newposition": {
                      "description": "Are new position enabled ?",
                      "type": "boolean"
                    },
                    "accountCreation": {
                      "description": "Are account creation enabled ?",
                      "type": "boolean"
                    }
                  },
                  "example": {
                    "ts": 1600244845097,
                    "version": {
                      "api": "74958cef7d4416dfa7f2c13fd23cd4aa7b469047",
                      "soec": "31a4964e0ab4c77e7235ce5a0b458ba32dd8ace8"
                    },
                    "withdraw": true,
                    "newPosition": true,
                    "accountCreation": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/state/node": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Node",
        "description": "Shows informations about the lightning node.\n",
        "operationId": "V1_State_nodeState",
        "responses": {
          "200": {
            "description": "The Node is online.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "description": "LND version",
                      "type": "string"
                    },
                    "alias": {
                      "description": "Node Alias",
                      "type": "string"
                    },
                    "pubkey": {
                      "description": "Node pubkey",
                      "type": "string"
                    },
                    "uri": {
                      "description": "Node URI",
                      "type": "string"
                    },
                    "onionUri": {
                      "description": "Node URI on tor",
                      "type": "string"
                    },
                    "peers": {
                      "description": "Number of peers",
                      "type": "integer",
                      "format": "int64"
                    },
                    "channels": {
                      "description": "Number of channels",
                      "type": "integer",
                      "format": "int64"
                    },
                    "localBalance": {
                      "description": "Node local balance",
                      "type": "integer",
                      "format": "int64"
                    },
                    "remoteBalance": {
                      "description": "Node remote balance",
                      "type": "integer",
                      "format": "int64"
                    },
                    "blockHeigth": {
                      "description": "Node block heigth",
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "example": {
                    "version": "0.11.0-beta commit=v0.11.0-beta'",
                    "alias": "LN Markets",
                    "pubkey": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431",
                    "blockHeigth": 1835008,
                    "remoteBalance": 266903254,
                    "example": "localBalance",
                    "channels": 1337,
                    "peers": 42,
                    "onionUri": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431@3pv4ci27cnahbztwlqtbez36rblecanoyxthrtjvxpk3en2y7dxfr3id.onion:9735",
                    "uri": "03bae2db4b57738c1ec1ffa1c5e5a4423968cc592b3b39cddf7d495e72919d6431@34.192.102.161:9735"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/state/announcements": {
      "get": {
        "tags": [
          "State"
        ],
        "security": [],
        "deprecated": false,
        "summary": "Announcements",
        "description": "Get the list of LN Markets announcements\n",
        "operationId": "V1_Announcements_getAnnouncements",
        "responses": {
          "200": {
            "description": "Announcements successfully fetched",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "ts": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "title": "Good news everyone !",
                    "text": "Bitcoin is the world money now !",
                    "creation_ts": 1607076175239
                  },
                  {
                    "title": "Bad news everyone !",
                    "text": "We have too much sats",
                    "creation_ts": 1607019462532
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "user_get"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Informations",
        "description": "Get the user account Information",
        "operationId": "V1_User_getUser",
        "responses": {
          "200": {
            "description": "User information\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "description": "User's UUID",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance (avalaible)",
                      "type": "string"
                    },
                    "username": {
                      "description": "Username",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "One of ['lnurl', 'credentials', 'joule']",
                      "type": "string"
                    },
                    "linkingpublickey": {
                      "description": "Public key used for lnurl or joule account",
                      "type": "string"
                    },
                    "show_leaderboard": {
                      "description": "Show the user PL in the leaderboard",
                      "type": "boolean"
                    },
                    "show_username": {
                      "description": "Show the username on LN Marktes public data, if false show 'Anonymous'",
                      "type": "boolean"
                    }
                  },
                  "example": {
                    "uid": "d068f829-26e6-4743-b10d-ebb5a83b3624",
                    "balance": 361086,
                    "account_type": "Joule",
                    "username": "Testnet-node",
                    "linkingpublickey": "035555cbdd2b5642bbd196b31df477fad20125ae99119fd5ffb1d42c7f4811dd3a",
                    "show_username": false,
                    "show_leaderboard": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "user_modify"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Update user",
        "description": "Modifies account parameters",
        "operationId": "V1_User_updateUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "additionalProperties": false,
                "properties": {
                  "show_leaderboard": {
                    "description": "Show the user PL in the leaderboard",
                    "type": "boolean"
                  },
                  "show_username": {
                    "description": "Show the username on LN Marktes public data, if false show 'Anonymous'",
                    "type": "boolean"
                  },
                  "username": {
                    "description": "Username displayed on LN Markets public data",
                    "type": "string",
                    "pattern": "[a-zA-Z0-9_.]{3,32}$"
                  }
                },
                "example": {
                  "show_username": false,
                  "show_leaderboard": true,
                  "username": "Cryptoking"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User information\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "description": "User's UUID",
                      "type": "string"
                    },
                    "balance": {
                      "description": "User current balance (avalaible)",
                      "type": "string"
                    },
                    "username": {
                      "description": "Username",
                      "type": "string"
                    },
                    "account_type": {
                      "description": "One of ['lnurl', 'credentials', 'joule']",
                      "type": "string"
                    },
                    "linkingpublickey": {
                      "description": "Public key used for lnurl or joule account",
                      "type": "string"
                    },
                    "show_leaderboard": {
                      "description": "Show the user PL in the leaderboard",
                      "type": "boolean"
                    },
                    "show_username": {
                      "description": "Show the username on LN Marktes public data, if false show 'Anonymous'",
                      "type": "boolean"
                    }
                  },
                  "example": {
                    "uid": "d068f829-26e6-4743-b10d-ebb5a83b3624",
                    "balance": 361086,
                    "account_type": "Joule",
                    "username": "Testnet-node",
                    "linkingpublickey": "035555cbdd2b5642bbd196b31df477fad20125ae99119fd5ffb1d42c7f4811dd3a",
                    "show_username": false,
                    "show_leaderboard": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/deposit": {
      "post": {
        "tags": [
          "User"
        ],
        "security": [
          {
            "apiKeyAuth": [
              "wallet_deposit"
            ]
          }
        ],
        "deprecated": false,
        "summary": "Deposit",
        "description": "Add fund to your LN Markets balance",
        "operationId": "V1_User_deposit",
        "requestBody": {
          "description": "Payload that contains all informations to initialize a new deposit.\n",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount of sat to deposit on the account",
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 1000000
                  },
                  "unit": {
                    "description": "Should be sat by default",
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]+$",
                    "default": "sat"
                  }
                },
                "example": {
                  "amount": 1000,
                  "unit": "sat"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New deposit entry in database waiting for payment. Using `paymentRequest` afterwards, user will confirm the deposit and funds will be added to his account.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentRequest": {
                      "description": "Invoice you should pay to add balance to your account",
                      "type": "string"
                    },
                    "expiry": {
                      "description": "When the invoice will expiry",
                      "type": "integer"
                    }
                  },
                  "example": {
                    "paymentRequest": "lntb100u1p0jrfz0pp5q0ntrkf052dvep8w6vf0z77rek3fz8xm6c2yau4zhy7f4mzauqgsdzcf3hy6ctjddjhgueqg3jhqmmnd96zqgmxxquryvesvv6z6dehv43z6drpvycj6wfevs6j6dmyxcunxefcxccxxvn9cqzpgxqzpdsp5z40mxcrfqtsxf55u9ju3lvqdw36htsjh4xl2ujrzdff3953fg2yq9qy9qsqv7gfvp0tryme3e8r5xfrpg39j645302fkggps4h5j0aj708lzdgh2dq3pdz6lqazgvkt3wm7qq20vcff46vu5549m3v2d6h0uw3sjacqrkjqcv",
                    "expiry": 45
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request query and / or body does not fit the schema requirements. It can also be raised by parameters leading to unexpected behaviour / results."
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "User"
        ],
[...]
